        <div class="products">
      <div class="product-main">

        <h2 class="title">New Products</h2>

        <div class="product-grid">

          <div class="showcase">

            <div class="showcase-banner">

              <img src="/tmdt/public/images/products/pic1.png" alt="#" width="300" class="product-img default">
              <img src="/tmdt/public/images/products/pic1.png" alt="#" width="300" class="product-img hover">

              <p class="showcase-badge">15%</p>

              <div class="showcase-actions">

                <button class="btn-action">
                  <i class="bi bi-heart"></i>
                </button>

                <button class="btn-action">
                  <i class="bi bi-eye"></i>
                </button>

                <button class="btn-action">
                  <i class="bi bi-cart-plus"></i>
                </button>

                <button class="btn-action">
                  <i class="bi bi-repeat"></i>
                </button>

              </div>

            </div>

            <div class="showcase-content">

              <a href="/tmdt/views/cart.html" class="showcase-category">pic1</a>

              <a href="/tmdt/views/cart.html">
                <h3 class="showcase-title">pic1</h3>
              </a>

              <div class="showcase-rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
              </div>

              <div class="price-box">
                <p class="price">$48.00</p>
                <del>$75.00</del>
              </div>

            </div>

          </div>

          <div class="showcase">

            <div class="showcase-banner">
              <img src="/tmdt/public/images/products/pic2.png" alt="#" class="product-img default" width="300">
              <img src="/tmdt/public/images/products/pic2.png" alt="#" class="product-img hover" width="300">

              <p class="showcase-badge angle black">sale</p>

              <div class="showcase-actions">
                <button class="btn-action">
                  <i class="bi bi-heart"></i>
                </button>

                <button class="btn-action">
                  <i class="bi bi-eye"></i>
                </button>

                <button class="btn-action">
                  <i class="bi bi-cart-plus"></i>
                </button>

                <button class="btn-action">
                  <i class="bi bi-repeat"></i>
                </button>
              </div>
            </div>

            <div class="showcase-content">
              <a href="#" class="showcase-category">pic2</a>

              <h3>
                <a href="#" class="showcase-title">pic2</a>
              </h3>

              <div class="showcase-rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <div class="price-box">
                <p class="price">$45.00</p>
                <del>$56.00</del>
              </div>

            </div>

          </div>

          <div class="showcase">

            <div class="showcase-banner">
              <img src="/tmdt/public/images/products/pic3.png" alt="#" class="product-img default" width="300">
              <img src="/tmdt/public/images/products/pic3.png" alt="#" class="product-img hover" width="300">

              <div class="showcase-actions">
                <button class="btn-action">
                  <i class="bi bi-heart"></i>
                </button>

                <button class="btn-action">
                  <i class="bi bi-eye"></i>
                </button>

                <button class="btn-action">
                  <i class="bi bi-cart-plus"></i>
                </button>

                <button class="btn-action">
                  <i class="bi bi-repeat"></i>
                </button>
              </div>
            </div>

            <div class="showcase-content">
              <a href="#" class="showcase-category">pic3</a>

              <h3>
                <a href="#" class="showcase-title">pic3</a>
              </h3>

              <div class="showcase-rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <div class="price-box">
                <p class="price">$58.00</p>
                <del>$65.00</del>
              </div>

            </div>

          </div>

          <div class="showcase">

            <div class="showcase-banner">
              <img src="/tmdt/public/images/products/pic4.png" alt="#" class="product-img default" width="300">
              <img src="/tmdt/public/images/products/pic4.png" alt="#" class="product-img hover" width="300">

              <p class="showcase-badge angle pink">new</p>

              <div class="showcase-actions">
                <button class="btn-action">
                  <i class="bi bi-heart"></i>
                </button>

                <button class="btn-action">
                  <i class="bi bi-eye"></i>
                </button>

                <button class="btn-action">
                  <i class="bi bi-cart-plus"></i>
                </button>

                <button class="btn-action">
                  <i class="bi bi-repeat"></i>
                </button>
              </div>
            </div>

            <div class="showcase-content">
              <a href="#" class="showcase-category">pic4</a>

              <h3>
                <a href="#" class="showcase-title">pic4</a>
              </h3>

              <div class="showcase-rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <div class="price-box">
                <p class="price">$25.00</p>
                <del>$35.00</del>
              </div>

            </div>

          </div>

          <div class="showcase">

            <div class="showcase-banner">
              <img src="/tmdt/public/images/products/pic5.png" alt="#" class="product-img default" width="300">
              <img src="/tmdt/public/images/products/pic5.png" alt="#" class="product-img hover" width="300">

              <div class="showcase-actions">
                <button class="btn-action">
                  <i class="bi bi-heart"></i>
                </button>

                <button class="btn-action">
                  <i class="bi bi-eye"></i>
                </button>

                <button class="btn-action">
                  <i class="bi bi-cart-plus"></i>
                </button>

                <button class="btn-action">
                  <i class="bi bi-repeat"></i>
                </button>
              </div>
            </div>

            <div class="showcase-content">
              <a href="#" class="showcase-category">pic5</a>

              <h3>
                <a href="#" class="showcase-title">pic5</a>
              </h3>

              <div class="showcase-rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </div>

              <div class="price-box">
                <p class="price">$99.00</p>
                <del>$105.00</del>
              </div>

            </div>

          </div>

          <div class="showcase">

            <div class="showcase-banner">
              <img src="/tmdt/public/images/products/pic6.png" alt="#" class="product-img default" width="300">
              <img src="/tmdt/public/images/products/pic6.png" alt="#" class="product-img hover" width="300">

              <p class="showcase-badge angle black">sale</p>

              <div class="showcase-actions">
                <button class="btn-action">
                  <i class="bi bi-heart"></i>
                </button>

                <button class="btn-action">
                  <i class="bi bi-eye"></i>
                </button>

                <button class="btn-action">
                  <i class="bi bi-cart-plus"></i>
                </button>

                <button class="btn-action">
                  <i class="bi bi-repeat"></i>
                </button>
              </div>
            </div>

            <div class="showcase-content">
              <a href="#" class="showcase-category">pic6</a>

              <h3>
                <a href="#" class="showcase-title">pic6</a>
              </h3>

              <div class="showcase-rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                <i class="bi bi-star"></i>
              </div>

              <div class="price-box">
                <p class="price">$150.00</p>
                <del>$170.00</del>
              </div>

            </div>

          </div>

          <div class="showcase">

            <div class="showcase-banner">
              <img src="/tmdt/public/images/products/pic7.png" alt="#" class="product-img default" width="300">
              <img src="/tmdt/public/images/products/pic7.png" alt="#" class="product-img hover" width="300">

              <p class="showcase-badge angle black">sale</p>

              <div class="showcase-actions">
                <button class="btn-action">
                  <i class="bi bi-heart"></i>
                </button>

                <button class="btn-action">
                  <i class="bi bi-eye"></i>
                </button>

                <button class="btn-action">
                  <i class="bi bi-cart-plus"></i>
                </button>

                <button class="btn-action">
                  <i class="bi bi-repeat"></i>
                </button>
              </div>
            </div>

            <div class="showcase-content">
              <a href="#" class="showcase-category">pic7</a>

              <h3>
                <a href="#" class="showcase-title">pic7</a>
              </h3>

              <div class="showcase-rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                <i class="bi bi-star"></i>
              </div>

              <div class="price-box">
                <p class="price">$150.00</p>
                <del>$170.00</del>
              </div>

            </div>

          </div>

          <div class="showcase">

            <div class="showcase-banner">
              <img src="/tmdt/public/images/products/pic8.png" alt="#" class="product-img default" width="300">
              <img src="/tmdt/public/images/products/pic8.png" alt="#" class="product-img hover" width="300">

              <p class="showcase-badge angle black">sale</p>

              <div class="showcase-actions">
                <button class="btn-action">
                  <i class="bi bi-heart"></i>
                </button>

                <button class="btn-action">
                  <i class="bi bi-eye"></i>
                </button>

                <button class="btn-action">
                  <i class="bi bi-cart-plus"></i>
                </button>

                <button class="btn-action">
                  <i class="bi bi-repeat"></i>
                </button>
              </div>
            </div>

            <div class="showcase-content">
              <a href="#" class="showcase-category">pic8</a>

                <h3>
                  <a href="#" class="showcase-title">pic8</a>
                </h3>

                <div class="showcase-rating">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-half"></i>
                </div>

                <div class="price-box">
                  <p class="price">$25.00</p>
                  <del>$30.00</del>
                </div>

            </div>

          </div>

          <div class="showcase">

            <div class="showcase-banner">
              <img src="/tmdt/public/images/products/pic9.png" alt="#" class="product-img default" width="300">
              <img src="/tmdt/public/images/products/pic9.png" alt="#" class="product-img hover" width="300">

              <div class="showcase-actions">
                <button class="btn-action">
                  <i class="bi bi-heart"></i>
                </button>

                <button class="btn-action">
                  <i class="bi bi-eye"></i>
                </button>

                <button class="btn-action">
                  <i class="bi bi-cart-plus"></i>
                </button>

                <button class="btn-action">
                  <i class="bi bi-repeat"></i>
                </button>
              </div>
            </div>

            <div class="showcase-content">
              <a href="#" class="showcase-category">pic9</a>

              <h3>
                <a href="#" class="showcase-title">pic9</a>
              </h3>

              <div class="showcase-rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                <i class="bi bi-star"></i>
              </div>

              <div class="price-box">
                <p class="price">$32.00</p>
                <del>$45.00</del>
              </div>

            </div>

          </div>

          <div class="showcase">

            <div class="showcase-banner">
              <img src="/tmdt/public/images/products/pic10.png" alt="#" class="product-img default" width="300">
              <img src="/tmdt/public/images/products/pic10.png" alt="#" class="product-img hover" width="300">

              <p class="showcase-badge angle black">sale</p>

              <div class="showcase-actions">
                <button class="btn-action">
                  <i class="bi bi-heart"></i>
                </button>

                <button class="btn-action">
                  <i class="bi bi-eye"></i>
                </button>

                <button class="btn-action">
                  <i class="bi bi-cart-plus"></i>
                </button>

                <button class="btn-action">
                  <i class="bi bi-repeat"></i>
                </button>
              </div>
            </div>

            <div class="showcase-content">
              <a href="#" class="showcase-category">pic10</a>

              <h3>
                <a href="#" class="showcase-title">pic10</a>
              </h3>

              <div class="showcase-rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
              </div>

              <div class="price-box">
                <p class="price">$58.00</p>
                <del>$64.00</del>
              </div>

            </div>

          </div>

          <div class="showcase">

            <div class="showcase-banner">
              <img src="/tmdt/public/images/products/pic11.png" alt="#" class="product-img default" width="300">
              <img src="/tmdt/public/images/products/pic11.png" alt="#" class="product-img hover" width="300">

              <div class="showcase-actions">
                <button class="btn-action">
                  <i class="bi bi-heart"></i>
                </button>

                <button class="btn-action">
                  <i class="bi bi-eye"></i>
                </button>

                <button class="btn-action">
                  <i class="bi bi-cart-plus"></i>
                </button>

                <button class="btn-action">
                  <i class="bi bi-repeat"></i>
                </button>
              </div>
            </div>

            <div class="showcase-content">
              <a href="#" class="showcase-category">pic11</a>

              <h3>
                <a href="#" class="showcase-title">pic11</a>
              </h3>

              <div class="showcase-rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
              </div>

              <div class="price-box">
                <p class="price">$50.00</p>
                <del>$65.00</del>
              </div>

            </div>

          </div>

          <div class="showcase">

            <div class="showcase-banner">
              <img src="/tmdt/public/images/products/pic12.png" alt="#" class="product-img default" width="300">
              <img src="/tmdt/public/images/products/pic12.png" alt="#" class="product-img hover" width="300">

              <p class="showcase-badge angle black">sale</p>

              <div class="showcase-actions">
                <button class="btn-action">
                  <i class="bi bi-heart"></i>
                </button>

                <button class="btn-action">
                  <i class="bi bi-eye"></i>
                </button>

                <button class="btn-action">
                  <i class="bi bi-cart-plus"></i>
                </button>

                <button class="btn-action">
                  <i class="bi bi-repeat"></i>
                </button>
              </div>
            </div>

            <div class="showcase-content">
              <a href="#" class="showcase-category">pic12</a>

              <h3>
                <a href="#" class="showcase-title">pic12</a>
              </h3>

              <div class="showcase-rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
              </div>

              <div class="price-box">
                <p class="price">$78.00</p>
                <del>$85.00</del>
              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>