<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
    <script src="/tmdt/public/js/login.js"></script>
    <title>Login Khc Art</title>
  </head>

  <body>
    <div class="login-container">
      <h1>Welcome to Khc Art</h1>
      <div class="login-option">
        <a href="#" class="fb-login">Log in with Facebook</a>
      </div>
      <div class="login-option">
        <a href="#" class="surna-login">OR</a>
      </div>
      <form class="login-form">
        <input type="email" name="email" placeholder="Email Address" required />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required />
        <a href="#" class="forgot-password">FORGOT PASSWORD?</a>
        <button type="submit">Log In</button>
      </form>
      <a href="/tmdt/views/register.html" class="register"
        >Don't have an account? REGISTER</a
      >
    </div>
  </body>
</html>
