<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./public/css/login.css" />
    <script src="./public/js/login.js"></script>
    <title>Register Khc Art</title>
  </head>
  <body>
    <div class="login-container">
      <h1>Welcome to Khc Art</h1>
      <div class="login-option">
        <button class="login-with-facebook">Login with Facebook</button>
      </div>
      <form class="register-form">
        <input
          type="text"
          id="fname"
          name="firstname"
          placeholder="User name" />
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Email address" />
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password" />
        <label for="terms">
          <input type="checkbox" id="terms" name="terms" />
          I agree to the Terms and Conditions
        </label>
        <input type="submit" value="Register" />
      </form>
    </div>
  </body>
</html>
