<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/register.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/tmdt/public/css/register.css" />
    <script src="/tmdt/public/js/login.js"></script>
    <title>Register</title>
  </head>
  <body>
    <div class="login-container">
      <h1>Welcome to LotusArt</h1>
      <div class="login-option">
        <a href="/tmdt/views/login.html"
          ><button class="login-with-facebook">Sign Up</button></a
        >
      </div>
      <form class="register-form">
        <input
          type="text"
          id="fname"
          name="firstname"
          placeholder="User name" />
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Email address" />
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password" />
        <label for="terms">
          <input type="checkbox" id="terms" name="terms" />
          I agree to the Terms and Conditions
        </label>
        <input type="submit" value="Register" />
      </form>
    </div>
  </body>
</html>
