:root {
  --spanish-gray: hsl(0, 0%, 60%);
  --sonic-silver: hsl(0, 0%, 47%);
  --eerie-black: hsl(0, 0%, 13%);
  --davys-gray: hsl(0, 0%, 33%);
  --cultured: hsl(0, 0%, 93%);
  --white: hsl(0, 100%, 100%);
  --onyx: hsl(0, 0%, 27%);

  --fs-1: 1.563rem;
  --fs-2: 1.375rem;
  --fs-3: 1.25rem;
  --fs-4: 1.125rem;
  --fs-5: 1rem;
  --fs-6: 0.938rem;
  --fs-7: 0.875rem;
  --fs-8: 0.813rem;
  --fs-9: 0.75rem;
  --fs-10: 0.688rem;
  --fs-11: 0.625rem;

  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  --border-radius-md: 10px;
  --border-radius-sm: 5px;

  --transition-timing: 0.2s ease;
}
* {
  margin: 0;
  padding: 0;
  font-family: Crimson Text, serif;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  max-width: 100%;
  position: relative;
  z-index: 1;
}
header {
  background-color: #a14d43;
}

.content_top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.content_top_center {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.content_top_center a {
  margin: 5px 15px 15px 15px;
  color: #fff;
  text-decoration: underline;
  font-family: "Crimson Text", serif;
  box-sizing: border-box;
  transition: color 0s;
}

.content_top_center a:hover {
  color: #fff;
  text-decoration: underline;
}

.content_top_center p {
  margin-top: 5px;
  color: #fff;
  font-family: "Crimson Text", serif;
}

/*-----------------------Menu--------------------------------------*/
.menu {
  border-bottom: 1px solid rgb(178, 171, 171);
  padding: 10px;
}

.menu_top_logo_left a img {
  width: 200px;
  margin-left: 30px;
  border-radius: 10px;
}

.menu_top {
  display: flex;
  justify-content: space-between;
}

.menu_top_logo_right a {
  color: rgb(130, 0, 0);
  margin-left: 10px;
  margin-right: 30px;
  font-family: Helvetica, sans-serif;
}

.menu_top_logo_right a.text {
  color: black;
  font-size: 18px;
  text-decoration: none;
  font-weight: 300;
}

.fa-regular.fa-hard-drive,
.fa-regular.fa-heart,
.bi .bi-cart-fill {
  color: rgb(130, 0, 0);
  font-size: 22px;
  font-weight: bold;
}
i {
  font-size: 22px;
}

.menu_top_logo_right {
  margin-top: 50px;
}
.collapse ul {
  margin: 0 auto;
}

.navbar {
  background-color: #ffffff;
  padding: 3px;
}

.navbar-brand {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.navbar-nav {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.nav-item {
  margin: 2px 30px 0 30px;
}
.nav-item a {
  border-radius: 1px;
  background-color: rgba(255, 255, 255, 0.911);
  font-size: 18px;
  color: #000;
  padding: 10px;
  margin-left: 5px;
  font-family: Crimson Text, serif;
}
.nav-link {
  padding: 10px;
  color: rgb(99, 99, 99);
  text-decoration: none;
  font-size: 18px;
}

.nav-link:hover {
  color: #ffc107;
}
.search-container {
  position: relative;
}

.search-input {
  padding-right: 30px;
}

.search-button {
  position: absolute;
  margin-top: -34px;
  margin-left: 180px;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: none;
  font-size: 20px;
}

.search-button:hover {
  color: black;
  background-color: #797878;
}

.ion-ios-search {
  color: black;
}

#carouselExampleIndicators {
  overflow: hidden;
}

.carousel-inner {
  transition: transform 0.5s ease-in-out;
  display: flex;
  width: 300%;
}

.carousel-item {
  width: 95%;
  flex: 0 0 auto;
}
.carousel-item img {
  max-width: 90%;
  margin: 30px auto;
  height: 540px;
}

/*--------------------h1_text--------------------------------*/
.h1_text {
  word-spacing: 3px;
  width: 85%;
  font-size: 30px;
  font-weight: 200;
  margin: 80px auto;
  text-align: center;
  color: rgb(51, 51, 51);
  font-family: Crimson Text, serif;
}

/*-------------------------Three-Pictures-------------------------------*/
.Advertisement_picture_three {
  display: flex;
}

.Advertisement_picture_three .showcase {
  flex: 1;
  margin: 30px;
  max-width: 600px;
  text-align: left;
  border: 1px solid var(--cultured);
  border-radius: var(--border-radius-md);
  overflow: hidden;
  transition: var(--transition-timing);
}

.Advertisement_picture_three .showcase:hover {
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
}

.Advertisement_picture_three .showcase-banner {
  position: relative;
}
.Advertisement_picture_three .product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-timing);
}
.Advertisement_picture_three .product-img.default {
  position: relative;
  z-index: 1;
}
.Advertisement_picture_three .product-img.hover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}
.Advertisement_picture_three .showcase:hover .product-img.hover {
  opacity: 1;
}
.Advertisement_picture_three .showcase:hover .product-img.default {
  opacity: 0;
}
.Advertisement_picture_three .showcase:hover .product-img {
  transform: scale(1.1);
}
.Advertisement_picture_three .showcase-badge {
  position: absolute;
  top: 15px;
  left: 15px;
  background: var(--ocean-green);
  font-size: var(--fs-8);
  font-weight: var(--weight-500);
  color: var(--white);
  padding: 0 8px;
  border-radius: var(--border-radius-sm);
  z-index: 3;
}
.Advertisement_picture_three .showcase-badge.angle {
  top: 8px;
  left: -29px;
  transform: rotate(-45deg);
  text-transform: uppercase;
  font-size: 11px;
  padding: 5px 40px;
}
.Advertisement_picture_three .showcase-badge.black {
  background: var(--eerie-black);
}
.Advertisement_picture_three .showcase-badge.pink {
  background: var(--salmon-pink);
}
.Advertisement_picture_three .showcase-actions {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  transform: translateX(50px);
  transition: var(--transition-timing);
  z-index: 3;
}
.Advertisement_picture_three .showcase:hover .showcase-actions {
  transform: translateX(0);
}
.Advertisement_picture_three .btn-action {
  background: var(--white);
  color: var(--sonic-silver);
  margin-bottom: 5px;
  border: 1px solid var(--cultured);
  padding: 5px;
  border-radius: var(--border-radius-sm);
  transition: var(--transition-timing);
}
.Advertisement_picture_three .btn-action:hover {
  background: var(--eerie-black);
  color: var(--white);
  border-color: var(--eerie-black);
}
.Advertisement_picture_three .showcase-content {
  padding: 15px 20px 0;
}
.Advertisement_picture_three .showcase-category {
  color: var(--salmon-pink);
  font-size: var(--fs-9);
  font-weight: var(--weight-500);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.Advertisement_picture_three .showcase-title {
  color: var(--sonic-silver);
  font-size: var(--fs-8);
  font-weight: var(--weight-300);
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 10px;
  transition: var(--transition-timing);
}
.Advertisement_picture_three .showcase-title:hover {
  color: var(--eerie-black);
}
.Advertisement_picture_three .showcase-rating {
  display: flex;
  color: var(--sandy-brown);
  margin-bottom: 10px;
}
.Advertisement_picture_three .price-box {
  display: flex;
  gap: 10px;
  font-size: var(--fs-7);
  color: var(--eerie-black);
  margin-bottom: 10px;
}
.Advertisement_picture_three .price {
  font-weight: var(--weight-700);
}
.Advertisement_picture_three del {
  color: var(--sonic-silver);
}

/*------------------------- Category-------------------------------*/
.Category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Category_items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.Category_items a {
  margin: 3px 30px 0 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  border: 1px solid rgb(51, 51, 51);
  color: black;
  text-decoration: none;
  transition: color 0s;
  width: 150px;
  height: 50px;
  font-size: 14px;
  justify-content: center;
  font-family: Helvetica, sans-serif;
}

.Category_items a:hover {
  color: black;
}

/*---------------------Features----------------------------*/
.Features {
  font-family: Crimson Text, serif;
  display: flex;
  flex-direction: column;
  align-items: left;
}
.Features h2 {
  margin-left: 70px;
}
.pictures_Features {
  display: flex;
  justify-content: center;
}

.Features .showcase {
  flex: 1;
  max-width: 500px;
  margin: 10px;
  text-align: left;
  border: 1px solid var(--cultured);
  border-radius: var(--border-radius-md);
  overflow: hidden;
  transition: var(--transition-timing);
}

.Features .showcase:hover {
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
}

.Features .showcase-banner {
  position: relative;
}
.Features .product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-timing);
}
.Features .product-img.default {
  position: relative;
  z-index: 1;
}
.Features .product-img.hover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}
.Features .showcase:hover .product-img.hover {
  opacity: 1;
}
.Features .showcase:hover .product-img.default {
  opacity: 0;
}
.Features .showcase:hover .product-img {
  transform: scale(1.1);
}
.Features .showcase-badge {
  position: absolute;
  top: 15px;
  left: 15px;
  background: var(--ocean-green);
  font-size: var(--fs-8);
  font-weight: var(--weight-500);
  color: var(--white);
  padding: 0 8px;
  border-radius: var(--border-radius-sm);
  z-index: 3;
}
.Features .showcase-badge.angle {
  top: 8px;
  left: -29px;
  transform: rotate(-45deg);
  text-transform: uppercase;
  font-size: 11px;
  padding: 5px 40px;
}
.Features .showcase-badge.black {
  background: var(--eerie-black);
}
.Features .showcase-badge.pink {
  background: var(--salmon-pink);
}
.Features .showcase-actions {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  transform: translateX(50px);
  transition: var(--transition-timing);
  z-index: 3;
}
.Features .showcase:hover .showcase-actions {
  transform: translateX(0);
}
.Features .btn-action {
  background: var(--white);
  color: var(--sonic-silver);
  margin-bottom: 5px;
  border: 1px solid var(--cultured);
  padding: 5px;
  border-radius: var(--border-radius-sm);
  transition: var(--transition-timing);
}
.Features .btn-action:hover {
  background: var(--eerie-black);
  color: var(--white);
  border-color: var(--eerie-black);
}
.Features .showcase-content {
  padding: 15px 20px 0;
}
.Features .showcase-category {
  font-family: Crimson Text, serif;
  color: var(--salmon-pink);
  font-size: var(--fs-9);
  font-weight: var(--weight-500);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.Features .showcase-title {
  font-family: Crimson Text, serif;
  color: var(--sonic-silver);
  font-size: var(--fs-8);
  font-weight: var(--weight-300);
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 10px;
  transition: var(--transition-timing);
}
.Features .showcase-title:hover {
  color: var(--eerie-black);
}
.Features .showcase-rating {
  display: flex;
  color: var(--sandy-brown);
  margin-bottom: 10px;
}
.Features .price-box {
  display: flex;
  gap: 10px;
  font-size: var(--fs-7);
  color: var(--eerie-black);
  margin-bottom: 10px;
}
.Features .price {
  font-weight: var(--weight-700);
}
.Features del {
  color: var(--sonic-silver);
}

/*---------------------------------------------*/
.Threadwork {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 10px;
}

.Threadwork-text h2 {
  margin-left: 70px;
  margin-top: 20px;
  font-family: Crimson Text, serif;
  font-weight: normal;
  font-size: 40px;
}
.Threadwork-text a{
  color: #000;
}
.Threadwork .showcase {
  flex: 1;
  max-width: 400px;
  margin: 10px;
  text-align: left;
  border: 1px solid var(--cultured);
  border-radius: var(--border-radius-md);
  overflow: hidden;
  transition: var(--transition-timing);
}

.Threadwork .showcase:hover {
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
}

.Threadwork .showcase-banner {
  position: relative;
}
.Threadwork .product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-timing);
}
.Threadwork .product-img.default {
  position: relative;
  z-index: 1;
}
.Threadwork .product-img.hover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}
.Threadwork .showcase:hover .product-img.hover {
  opacity: 1;
}
.Threadwork .showcase:hover .product-img.default {
  opacity: 0;
}
.Threadwork .showcase:hover .product-img {
  transform: scale(1.1);
}
.Threadwork .showcase-badge {
  position: absolute;
  top: 15px;
  left: 15px;
  background: var(--ocean-green);
  font-size: var(--fs-8);
  font-weight: var(--weight-500);
  color: var(--white);
  padding: 0 8px;
  border-radius: var(--border-radius-sm);
  z-index: 3;
}
.Threadwork .showcase-badge.angle {
  top: 8px;
  left: -29px;
  transform: rotate(-45deg);
  text-transform: uppercase;
  font-size: 11px;
  padding: 5px 40px;
}
.Threadwork .showcase-badge.black {
  background: var(--eerie-black);
}
.Threadwork .showcase-badge.pink {
  background: var(--salmon-pink);
}
.Threadwork .showcase-actions {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  transform: translateX(50px);
  transition: var(--transition-timing);
  z-index: 3;
}
.Threadwork .showcase:hover .showcase-actions {
  transform: translateX(0);
}
.Threadwork .btn-action {
  background: var(--white);
  color: var(--sonic-silver);
  margin-bottom: 5px;
  border: 1px solid var(--cultured);
  padding: 5px;
  border-radius: var(--border-radius-sm);
  transition: var(--transition-timing);
}
.Threadwork .btn-action:hover {
  background: var(--eerie-black);
  color: var(--white);
  border-color: var(--eerie-black);
}
.Threadwork .showcase-content {
  padding: 15px 20px 0;
}
.Threadwork .showcase-category {
  font-family: Crimson Text, serif;
  color: var(--salmon-pink);
  font-size: var(--fs-9);
  font-weight: var(--weight-500);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.Threadwork .showcase-title {
  font-family: Crimson Text, serif;
  color: var(--sonic-silver);
  font-size: var(--fs-8);
  font-weight: var(--weight-300);
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 10px;
  transition: var(--transition-timing);
}
.Threadwork .showcase-title:hover {
  color: var(--eerie-black);
}
.Threadwork .showcase-rating {
  display: flex;
  color: var(--sandy-brown);
  margin-bottom: 10px;
}
.Threadwork .price-box {
  display: flex;
  gap: 10px;
  font-size: var(--fs-7);
  color: var(--eerie-black);
  margin-bottom: 10px;
}
.Threadwork .price {
  font-weight: var(--weight-700);
}
.Threadwork del {
  color: var(--sonic-silver);
}

/*--------------------Rising-Stars-----------------------------*/
.Rising_Stars {
  display: flex;
  flex-direction: row;
  align-items: left;
}

.Stars-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Stars-text h2 {
  margin-left: 70px;
  font-family: Crimson Text, serif;
}
.Rising_Stars .showcase {
  flex: 1;
  max-width: 600px;
  margin: 10px;
  text-align: left;
  border: 1px solid var(--cultured);
  border-radius: var(--border-radius-md);
  overflow: hidden;
  transition: var(--transition-timing);
}

.Rising_Stars .showcase:hover {
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
}

.Rising_Stars .showcase-banner {
  position: relative;
}
.Rising_Stars .product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-timing);
}
.Rising_Stars .product-img.default {
  position: relative;
  z-index: 1;
}
.Rising_Stars .product-img.hover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}
.Rising_Stars .showcase:hover .product-img.hover {
  opacity: 1;
}
.Rising_Stars .showcase:hover .product-img.default {
  opacity: 0;
}
.Rising_Stars .showcase:hover .product-img {
  transform: scale(1.1);
}
.Rising_Stars .showcase-badge {
  position: absolute;
  top: 15px;
  left: 15px;
  background: var(--ocean-green);
  font-size: var(--fs-8);
  font-weight: var(--weight-500);
  color: var(--white);
  padding: 0 8px;
  border-radius: var(--border-radius-sm);
  z-index: 3;
}
.Rising_Stars .showcase-badge.angle {
  top: 8px;
  left: -29px;
  transform: rotate(-45deg);
  text-transform: uppercase;
  font-size: 11px;
  padding: 5px 40px;
}
.Rising_Stars .showcase-badge.black {
  background: var(--eerie-black);
}
.Rising_Stars .showcase-badge.pink {
  background: var(--salmon-pink);
}
.Rising_Stars .showcase-actions {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  transform: translateX(50px);
  transition: var(--transition-timing);
  z-index: 3;
}
.Rising_Stars .showcase:hover .showcase-actions {
  transform: translateX(0);
}
.Rising_Stars .btn-action {
  background: var(--white);
  color: var(--sonic-silver);
  margin-bottom: 5px;
  border: 1px solid var(--cultured);
  padding: 5px;
  border-radius: var(--border-radius-sm);
  transition: var(--transition-timing);
}
.Rising_Stars .btn-action:hover {
  background: var(--eerie-black);
  color: var(--white);
  border-color: var(--eerie-black);
}
.Rising_Stars .showcase-content {
  padding: 15px 20px 0;
}
.Rising_Stars .showcase-category {
  font-family: Crimson Text, serif;
  color: var(--salmon-pink);
  font-size: var(--fs-9);
  font-weight: var(--weight-500);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.Rising_Stars .showcase-title {
  font-family: Crimson Text, serif;
  color: var(--sonic-silver);
  font-size: var(--fs-8);
  font-weight: var(--weight-300);
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 10px;
  transition: var(--transition-timing);
}
.Rising_Stars .showcase-title:hover {
  color: var(--eerie-black);
}
.Rising_Stars .showcase-rating {
  display: flex;
  color: var(--sandy-brown);
  margin-bottom: 10px;
}
.Rising_Stars .price-box {
  display: flex;
  gap: 10px;
  font-size: var(--fs-7);
  color: var(--eerie-black);
  margin-bottom: 10px;
}
.Rising_Stars .price {
  font-weight: var(--weight-700);
}
.Rising_Stars del {
  color: var(--sonic-silver);
}
/*------------------------------Find_Art----------------------------*/
.Find_Art_You_Love {
  position: relative;
  width: 100%;
  margin: 30px auto;
  display: flex;
  flex-direction: row;
}

.Find_Art_You_Love img {
  max-width: 100%;
  height: auto;
  margin-left: 0;
}
.Find_text {
  background: rgb(249, 249, 249);
  color: rgb(51, 51, 51);
  font-family: Helvetica, sans-serif;
  padding: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  margin: 30px 0;
}

.Find_text h2 {
  font-family: Crimson Text, serif;
  font-size: 40px;
  margin: 0px 0px 20px;
  font-weight: normal;
}

.Find_text p {
  margin: 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}

.Find_text img {
  height: 44px;
  width: 220px;
  margin: 10px auto;
}

.Find_text a {
  color: rgb(51, 51, 51);
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;
  width: 289px;
  height: 50px;
  margin: 20px auto 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  padding: 1px 6px;
  border: 1px solid rgb(79, 79, 79);
  text-decoration: none;
  transition: color 0s;
}

.Find_text a:hover {
  color: rgb(51, 51, 51);
}

/*-----------------------Explore----------------------*/
.Explore {
display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 10px;
}

.Explore-text {
  justify-content: center;
  align-items: center;
}

.Explore-text h2 {
  color: rgb(51, 51, 51);
  font-family: Crimson Text, serif;
  font-size: 44px;
  display: flex;
  align-self: flex-start;
  font-weight: normal;
  text-align: left;
  margin: 30px;
}

.Explore .showcase {
  flex: 1;
  margin: 30px;
  width: 360px;
  text-align: left;
  border: 1px solid var(--cultured);
  border-radius: var(--border-radius-md);
  overflow: hidden;
  transition: var(--transition-timing);
}

.Explore .showcase:hover {
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
}

.Explore .showcase-banner {
  position: relative;
}
.Explore .product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-timing);
}
.Explore .product-img.default {
  position: relative;
  z-index: 1;
}
.Explore .product-img.hover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}
.Explore .showcase:hover .product-img.hover {
  opacity: 1;
}
.Explore .showcase:hover .product-img.default {
  opacity: 0;
}
.Explore .showcase:hover .product-img {
  transform: scale(1.1);
}
.Explore .showcase-badge {
  position: absolute;
  top: 15px;
  left: 15px;
  background: var(--ocean-green);
  font-size: var(--fs-8);
  font-weight: var(--weight-500);
  color: var(--white);
  padding: 0 8px;
  border-radius: var(--border-radius-sm);
  z-index: 3;
}
.Explore .showcase-badge.angle {
  top: 8px;
  left: -29px;
  transform: rotate(-45deg);
  text-transform: uppercase;
  font-size: 11px;
  padding: 5px 40px;
}
.Explore .showcase-badge.black {
  background: var(--eerie-black);
}
.Explore .showcase-badge.pink {
  background: var(--salmon-pink);
}
.Explore .showcase-actions {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  transform: translateX(50px);
  transition: var(--transition-timing);
  z-index: 3;
}
.Explore .showcase:hover .showcase-actions {
  transform: translateX(0);
}
.Explore .btn-action {
  background: var(--white);
  color: var(--sonic-silver);
  margin-bottom: 5px;
  border: 1px solid var(--cultured);
  padding: 5px;
  border-radius: var(--border-radius-sm);
  transition: var(--transition-timing);
}
.Explore .btn-action:hover {
  background: var(--eerie-black);
  color: var(--white);
  border-color: var(--eerie-black);
}
.Explore .showcase-content {
  padding: 15px 20px 0;
}
.Explore .showcase-category {
  color: var(--salmon-pink);
  font-size: var(--fs-9);
  font-weight: var(--weight-500);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.Explore .showcase-title {
  color: var(--sonic-silver);
  font-size: var(--fs-8);
  font-weight: var(--weight-300);
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 10px;
  transition: var(--transition-timing);
}
.Explore .showcase-title:hover {
  color: var(--eerie-black);
}
.Explore .showcase-rating {
  display: flex;
  color: var(--sandy-brown);
  margin-bottom: 10px;
}
.Explore .price-box {
  display: flex;
  gap: 10px;
  font-size: var(--fs-7);
  color: var(--eerie-black);
  margin-bottom: 10px;
}
.Explore .price {
  font-weight: var(--weight-700);
}
.Explore del {
  color: var(--sonic-silver);
}

/*----------------------footer----------------------*/
.footer {
  background-color: #fff;
  color: #000;
  padding: 20px;
  text-align: center;
}

.back-to-top button {
  background-color: var(--eerie-black);
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
  border: 2px silver #388e3c;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.back-to-top button a {
  color: #fff;
}

.back-to-top button:hover {
  background-color: #45a049;
}

.back-to-top {
  margin-bottom: 10px;
}

.email-signup p {
  color: #777;
  margin-bottom: 20px;
  display: inline;
  margin-right: 100px;
}

.email-signup button {
  width: 100px;
  background-color: #000;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.footer-nav {
  background: var(--eerie-black);
  padding: 20px 0;
  border-bottom: 1px solid var(--onyx);
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.footer-nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.footer-nav-list:not(:last-child) {
  margin-bottom: 20px;
  display: inline-block;
}

.footer-nav .nav-title {
  position: relative;
  color: var(--white);
  font-size: var(--fs-6);
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

.footer-nav .nav-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--salmon-pink);
  width: 60px;
  height: 1px;
}

.footer-nav-item {
  padding: 3px 0;
}

.footer-nav-link,
.footer-nav-item .content-address {
  width: max-content;
  color: var(--sonic-silver);
  font-size: var(--fs-6);
  text-transform: capitalize;
  transition: color var(--transition-timing);
}

.footer-nav-link:hover {
  color: var(--salmon-pink);
}

.footer-nav-item.flex {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.footer-nav-item .content-address {
  font-style: normal;
  margin-bottom: 5px;
}

.footer-nav-item .icon-box {
  color: var(--sonic-silver);
  font-size: 25px;
}
.footer-follow-us {
  background: var(--eerie-black);
  padding: 30px 0;
  text-align: center;
}

.footer-follow-us .follow-us-title {
  color: var(--white);
  font-size: var(--fs-7);
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

.footer-follow-us .follow-us-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--salmon-pink);
  width: 60px;
  height: 1px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link .footer-nav-link {
  font-size: 25px;
  margin: 0 10px;
  color: var(--sonic-silver);
  transition: color var(--transition-timing);
}

.social-link .footer-nav-link:hover {
  color: var(--salmon-pink);
}

.footer-nav .social-link {
  display: flex;
  flex-direction: row;
}

.footer-nav .social-link .footer-nav-link {
  font-size: 25px;
  margin-left: 10px;
  justify-items: center;
}

.payment-img {
  max-width: 335px;
  width: 100%;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 5px;
}

.copyright {
  color: var(--sonic-silver);
  font-size: var(--fs-8);
  font-weight: var(--weight-500);
  text-transform: capitalize;
  letter-spacing: 1.2px;
}

.copyright a {
  display: inline;
  color: inherit;
}

.p {
  align-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding-left: 0px;
  position: relative;
}

a {
  text-decoration: none !important;
}

.container-footer {
  background: var(--eerie-black);
  padding: 0 15px;
  border-radius: 1px var(--sonic-silver);
}

.giftcard-img img {
  width: 250px;
  margin-right: 80px;
  align-items: center;
}

.giftcard-img {
  max-width: 400px;
  margin-bottom: 10px;
  margin-right: 100px;
  width: 250px;
}

.product_info {
  border: 1px solid rgb(255, 255, 255);
  align-items: center;
  margin-left: 5px;
  height: 80%;
}

@media (max-width: 768px) {
  .menu_top {
    flex-direction: column;
    align-items: center;
  }

  .menu_top_logo_right {
    margin-top: 10px;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .search-container {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .Advertisement_picture_three {
    flex-direction: column;
  }

  .Advertisement_picture_three .showcase,
  .Rising_Stars .showcase {
    flex: 1;
    margin: 5px 0;
  }

  .Threadwork , .Explore{
    grid-template-columns: 1fr;
    align-items: center;
    width: 100%;
  }
  .Threadwork-text h2 {
    margin-left: 20px;
    font-size: 24px;
  }

  .Threadwork-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .Price_items {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
  }
  .Category_items {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
  }
  .Price_items a,
  .Category_items a,
  .Threadwork-text a {
    margin: 10px 0;
  }
  .Find_Art_You_Love {
    flex-direction: column;
  }

  .Find_Art_You_Love img {
    margin-left: 0;
  }

  .Find_text {
    width: 100%;
    padding: 20px;
  }

  .Explore-text h2,
  .Explore-text a {
    margin-left: 0;
  }

  .Explore-text a {
    margin: 10px 0;
  }
  .Threadwork-text {
    flex-direction: column;
    align-items: center;
  }

  .products-explore-1 {
    text-align: center;
  }

  .carousel-item img {
    max-width: 90%;
    margin: 30px auto;
    height: 250px;
  }

  .navbar {
    list-style-type: none;
    display: flex;
    padding: 15px 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease;
  }
  .fixed-navbar {
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    background-color: #fdfdfd;
    position: fixed;
    z-index: 1001;
  }
  .container-fluid {
    width: 100%;
    height: inherit;
    background-color: #fdfdfd;
    position: fixed;
    z-index: 1001;
  }
  .navbar-collapse {
    transition: transform 0.3s ease;
  }

  .navbar-collapse.collapsing {
    transform: translateX(-100%);
  }

  .navbar-collapse.show {
    transform: translateX(0);
  }

  .navbar-brand {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
  }
  .nav-item {
    margin: 10px 10px 0 0;
    width: 100%;
  }

  .nav-link {
    border-bottom: 2px solid transparent;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    color: #494949;
    text-decoration: none;
    padding: 10px;
    margin-left: 20px !important;
    transition: border 0.3s ease;
  }

  .nav-link:hover {
    background-color: #ebf4fcdc;
  }
}
