:root {
  --spanish-gray: hsl(0, 0%, 60%);
  --sonic-silver: hsl(0, 0%, 47%);
  --eerie-black: hsl(0, 0%, 13%);
  --davys-gray: hsl(0, 0%, 33%);
  --cultured: hsl(0, 0%, 93%);
  --white: hsl(0, 100%, 100%);
  --onyx: hsl(0, 0%, 27%);

  --fs-1: 1.563rem;
  --fs-2: 1.375rem;
  --fs-3: 1.25rem;
  --fs-4: 1.125rem;
  --fs-5: 1rem;
  --fs-6: 0.938rem;
  --fs-7: 0.875rem;
  --fs-8: 0.813rem;
  --fs-9: 0.75rem;
  --fs-10: 0.688rem;
  --fs-11: 0.625rem;

  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  --border-radius-md: 10px;
  --border-radius-sm: 5px;

  --transition-timing: 0.2s ease;
}
* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: var(--white);
  border-left: 1px solid var(--cultured);
}

body::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 80%);
  border: 3px solid var(--white);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 70%);
}
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding-left: 0px;
  position: relative;
}
.container {
  padding: 0 15px;
  border-radius: 1px var(--sonic-silver);
}
.has-scrollbar {
  padding-bottom: 5px;
}

.has-scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border: 3px solid var(--white);
  border-radius: 20px;
}

.has-scrollbar:hover::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 90%);
}

.has-scrollbar::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 80%);
}
.nano-promo-wrapper {
  box-sizing: border-box;
  background: #dc3a0f;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
}

.nano-promo-wrapper * {
  display: flex;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.1em;
}

.nano-promo-wrapper .nano-promo-countdown {
  margin-left: 10px;
}

.nano-promo-wrapper .nano-promo-countdown-hours:after,
.nano-promo-wrapper .nano-promo-countdown-minutes:after {
  content: ":";
  margin: 0 5px;
}

.nano-promo-wrapper .nano-promo-layout {
  flex-direction: row;
  align-items: center;
}

.nano-promo-wrapper .nano-promo-tagline {
  flex: 0 1 auto;
}

.nano-promo-wrapper .nano-promo-coupon-list {
  flex-direction: row;
}

.nano-promo-wrapper .nano-promo-coupon-item {
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.nano-promo-wrapper .nano-promo-coupon-item:before {
  display: flex;
  content: "";
  width: 1px;
  height: 30px;
  background: #ffffff;
  margin: 0 15px;
}

.nano-promo-wrapper .nano-promo-coupon-info {
  flex-direction: column;
}

.nano-promo-wrapper .nano-promo-coupon-item-title {
  display: flex;
  margin: 0 20px 3px 0;
  font-size: 16px;
}
.nano-promo-wrapper .nano-promo-coupon-item-apply {
  font-size: 14px;
}

.logos {
  display: flex;
}
.logo {
  border: 1px solid rgb(178, 171, 171);

  padding: 10px;
}

.div-logo {
  display: flex;
  justify-content: space-between;
}
.logo-left a img {
  width: 200px;
  margin-left: 30px;
  border-radius: 10px;
}
.logo-right a {
  margin-left: 10px;
  margin-right: 30px;
  font-family: Helvetica, sans-serif;
}

.logo-right a.text {
  color: black;
  font-size: 15px;
  text-decoration: none;
}

.logo-right i {
  color: rgb(156, 41, 41);
  font-size: 22px;
  text-decoration: none;
  font-weight: bold;
}

.logo-right {
  margin-top: 50px;
}

.navbar {
  border: 1px solid rgb(177, 177, 177);
  padding: 10px;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
.navbar-brand img {
  width: 120px;
  margin-left: 30px;
  border-radius: 10px;
}
.container-fluid img {
  width: 100px;
  height: auto;
}
.navbar-nav li {
  margin-left: 10px;
}
.navbar-nav li a {
  color: rgb(51, 51, 51);
  font-family: Helvetica, sans-serif;
  transition: color 0s;
  font-size: 14px;
  font-weight: bold;
}

.search-container {
  position: relative;
}

.search-input {
  padding-right: 30px;
}

.search-button {
  position: absolute;
  margin-top: -1px;
  margin-left: 200px;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: none;
  font-size: 32px;
}

.p {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.p p {
  font-size: 16px;
  line-height: 1.5;
}

.p a {
  display: block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

.label-1 {
  font-size: 22px;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  padding-left: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.hasCustomSelect {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 30px;
}

.form-control:focus,
.hasCustomSelect:focus {
  border-color: #4caf50;
  outline: 0;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.form-category {
  padding-top: 50px;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 200px;
}

.container-1 {
  width: 99%;
}

.card-1 {
  width: 100%;
  padding-left: 3px;
}

.card-1 label {
  margin-bottom: 5px;
  font-weight: bold;
}

.dropdown-category {
  position: relative;
  display: block;
  margin-bottom: 200px;
}

.dropdown-category button {
  width: 90%;
  height: 35px;
  background-color: #eee8e8;
  color: #333;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  word-spacing: 20px;
  top: 100%;
  left: 0;
}

.dropdown-content label {
  display: block;
}

.dropdown-content label:hover {
  background-color: #ddd;
}

.dropdown-category:hover .dropdown-content {
  display: block;
  width: 100%;
}

.dropdown-category:hover button {
  background-color: #fff;
}

.product-main {
  margin-bottom: 30px;
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  row-gap: 10px;
}

.product-grid .showcase {
  border: 1px solid var(--cultured);
  border-radius: var(--border-radius-md);
  overflow: hidden;
  transition: var(--transition-timing);
}

.product-grid .showcase:hover {
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
}

.product-grid .showcase-banner {
  position: relative;
}

.product-grid .product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-timing);
}

.product-grid .product-img.default {
  position: relative;
  z-index: 1;
}

.product-grid .product-img.hover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}

.product-grid .showcase:hover .product-img.hover {
  opacity: 1;
}

.product-grid .showcase:hover .product-img.default {
  opacity: 0;
}

.product-grid .showcase:hover .product-img {
  transform: scale(1.1);
}

.product-grid .showcase-badge {
  position: absolute;
  top: 15px;
  left: 15px;
  background: var(--ocean-green);
  font-size: var(--fs-8);
  font-weight: var(--weight-500);
  color: var(--white);
  padding: 0 8px;
  border-radius: var(--border-radius-sm);
  z-index: 3;
}

.product-grid .showcase-badge.angle {
  top: 8px;
  left: -29px;
  transform: rotate(-45deg);
  text-transform: uppercase;
  font-size: 11px;
  padding: 5px 40px;
}

.product-grid .showcase-badge.black {
  background: var(--eerie-black);
}

.product-grid .showcase-badge.pink {
  background: var(--salmon-pink);
}

.product-grid .showcase-actions {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  transform: translateX(50px);
  transition: var(--transition-timing);
  z-index: 3;
}

.product-grid .showcase:hover .showcase-actions {
  transform: translateX(0);
}

.product-grid .btn-action {
  background: var(--white);
  color: var(--sonic-silver);
  margin-bottom: 5px;
  border: 1px solid var(--cultured);
  padding: 5px;
  border-radius: var(--border-radius-sm);
  transition: var(--transition-timing);
}

.product-grid .btn-action:hover {
  background: var(--eerie-black);
  color: var(--white);
  border-color: var(--eerie-black);
}

.product-grid .showcase-content {
  padding: 15px 20px 0;
}

.product-grid .showcase-category {
  color: var(--salmon-pink);
  font-size: var(--fs-9);
  font-weight: var(--weight-500);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.product-showcase-title {
  color: var(--sonic-silver);
  font-size: var(--fs-8);
  font-weight: var(--weight-300);
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 10px;
  transition: var(--transition-timing);
}

.product-grid .showcase-title:hover {
  color: var(--eerie-black);
}

.product-grid .showcase-rating {
  display: flex;
  color: var(--sandy-brown);
  margin-bottom: 10px;
}

.product-grid .price-box {
  display: flex;
  gap: 10px;
  font-size: var(--fs-7);
  color: var(--eerie-black);
  margin-bottom: 10px;
}

.product-grid .price {
  font-weight: var(--weight-700);
}

.product-grid del {
  color: var(--sonic-silver);
}

.pagination {
  padding-top: 20px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination a {
  display: inline-block;
  margin: 5px;
  padding: 10px 15px;
  text-decoration: none;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  color: #333;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
}

.pagination a:hover {
  background-color: #ddd;
}
.results-count {
  text-align: center;
  margin-top: 20px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.filter-section {
  display: inline;
  justify-content: space-between;
  padding: 10px;
}
.filter-section h2 {
  margin-left: 60px;
}
.filter-category {
  width: 30%;
  margin-bottom: 20px;
  margin-left: 30px;
}

.filter-title-row {
  padding: 10px;
  margin-left: 30px;
}
.filter-keyword {
  width: 800px;
  margin-left: 30px;
}
.filter-keyword a {
  display: inline;
  background-color: #f0f0f0;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.filter-keyword a:hover {
  background-color: #f0f0f0;
}

.filter-hr {
  border-top: 1px solid #ddd;
  margin-top: 20px;
}
.blog .carousel-indicators {
  left: 0;
  top: auto;
  bottom: -40px;
}

.blog .carousel-indicators li {
  background: #a3a3a3;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.blog .carousel-indicators .active {
  background: #707070;
}

.footer {
  background-color: #fff;
  color: #000;
  padding: 20px;
  text-align: center;
}
.back-to-top button {
  background-color: var(--eerie-black);
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
  border: 2px silver #388e3c;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.back-to-top button a {
  color: #fff;
}

.back-to-top button:hover {
  background-color: #45a049;
}

.back-to-top {
  margin-bottom: 10px;
}

.footer-nav {
  background: var(--eerie-black);
  padding: 20px 0;
  border-bottom: 1px solid var(--onyx);
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.footer-nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.footer-nav-list:not(:last-child) {
  margin-bottom: 20px;
  display: inline-block;
}

.footer-nav .nav-title {
  position: relative;
  color: var(--white);
  font-size: var(--fs-6);
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

.footer-nav .nav-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--salmon-pink);
  width: 60px;
  height: 1px;
}

.footer-nav-item {
  padding: 3px 0;
}

.footer-nav-link,
.footer-nav-item .content-address {
  width: max-content;
  color: var(--sonic-silver);
  font-size: var(--fs-6);
  text-transform: capitalize;
  transition: color var(--transition-timing);
}

.footer-nav-link:hover {
  color: var(--salmon-pink);
}

.footer-nav-item.flex {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.footer-nav-item .content-address {
  font-style: normal;
  margin-bottom: 5px;
}

.footer-nav-item .icon-box {
  color: var(--sonic-silver);
  font-size: 25px;
}

.footer-follow-us {
  background: var(--eerie-black);
  padding: 30px 0;
  text-align: center;
}

.footer-follow-us .follow-us-title {
  color: var(--white);
  font-size: var(--fs-7);
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

.footer-follow-us .follow-us-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--salmon-pink);
  width: 60px;
  height: 1px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link .footer-nav-link {
  font-size: 25px;
  margin: 0 10px;
  color: var(--sonic-silver);
  transition: color var(--transition-timing);
}

.social-link .footer-nav-link:hover {
  color: var(--salmon-pink);
}

.footer-nav .social-link {
  display: flex;
  flex-direction: row;
}

.social-link .footer-nav-link {
  font-size: 25px;
  margin-left: 10px;
  justify-items: center;
}

.payment-img {
  max-width: 335px;
  width: 100%;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 5px;
}

.copyright {
  color: var(--sonic-silver);
  font-size: var(--fs-8);
  font-weight: var(--weight-500);
  text-transform: capitalize;
  letter-spacing: 1.2px;
}

.copyright a {
  display: inline;
  color: inherit;
}

.p {
  align-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding-left: 0px;
  position: relative;
}

a {
  text-decoration: none !important;
}

.container-footer {
  background: var(--eerie-black);
  padding: 0 15px;
  border-radius: 1px var(--sonic-silver);
}

.product_info {
  border: 1px solid rgb(255, 255, 255);
  align-items: center;
  margin-left: 5px;
  height: 80%;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .div-logo {
    flex-direction: row;
  }

  .logo-left a img {
    width: 180px;
  }

  .logo-right {
    margin-top: 7px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: var(--fs-5);
    max-width: 992px;
  }
  .p {
    margin-right: 500px;
    display: flex;
    width: 50%;
  }
  .container {
    max-width: 100%;
  }
  .product-grid {
    grid-template-columns: 1fr;
    gap: 30px;
    width: 70%;
    float: right;
  }
  .filter-section {
    flex-direction: column;
  }

  .filter-category,
  .filter-title-row,
  .filter-keyword {
    width: 100%;
  }

  .filter-keyword a {
    margin-bottom: 10px;
    display: flex;
    width: 70%;
  }
}

@media (max-width: 767px) {
  body {
    font-size: var(--fs-5);
    max-width: 100%;
  }
  .nano-promo-wrapper .nano-promo-layout {
    flex-direction: column;
  }

  .nano-promo-wrapper .nano-promo-coupon-item:before {
    display: none;
  }
  .nano-promo-mobile .nano-promo-mobile-tagline {
    margin-left: 15px !important;
  }
  .nano-promo-wrapper .nano-promo-coupon-item {
    margin: 5px auto;
  }
  .div-logo {
    flex-direction: column;
    align-items: center;
  }

  .logo-left a img {
    width: 150px;
    margin-left: 0;
    margin-bottom: 10px;
  }

  .logo-right {
    margin-top: 10px;
    text-align: center;
  }

  .logo-right a {
    margin: 0 5px;
  }

  .logo-right a.text {
    font-size: 14px;
  }

  .logo-right i {
    font-size: 18px;
  }
  .h1 {
    margin: 20px auto;
    font-size: 1.5em;
    text-align: center;
  }
  .p p {
    font-size: 14px;
  }
  .container {
    max-width: 100%;
  }
  .form-category {
    margin-bottom: 200px;
    width: 140px;
  }
  .form-group {
    margin-bottom: 10px;
  }

  .form-control {
    font-size: 12px;
  }

  .hasCustomSelect {
    padding-right: 20px;
  }
  .dropdown-category {
    margin-bottom: 200px;
    display: inline-block;
  }

  .dropdown-category button {
    width: 200%;
  }

  .dropdown-content {
    width: auto;
  }
  .product-grid {
    grid-template-columns: 1fr;
    gap: 30px;
    width: 90%;
    float: right;
  }
  .filter-section {
    flex-direction: column;
  }

  .filter-category,
  .filter-title-row,
  .filter-keyword {
    width: 100%;
  }

  .filter-keyword a {
    margin-bottom: 10px;
    display: flex;
    width: 70%;
  }
}
@media (max-width: 480px) {
  body {
    font-size: var(--fs-5);
    width: 100%;
  }
  .div-logo {
    flex-direction: column;
    align-items: center;
  }

  .logo-left a img {
    width: 150px;
    margin-left: 0;
    margin-bottom: 10px;
  }

  .logo-right {
    margin-top: 10px;
    text-align: center;
  }

  .logo-right a {
    margin: 0 5px;
  }

  .logo-right a.text {
    font-size: 14px;
  }

  .logo-right i {
    font-size: 18px;
  }
  .container {
    max-width: inherit;
  }
  .product-grid {
    grid-template-columns: 1fr;
    gap: 30px;
    width: 70%;
    float: right;
  }

  .filter-section {
    flex-direction: column;
  }

  .filter-category,
  .filter-title-row,
  .filter-keyword {
    max-width: 300px;
  }
  .filter-keyword p {
    width: 200px;
  }
  .filter-keyword a {
    margin-bottom: 10px;
    display: flex;
    width: 300px;
  }
}
@media (max-width: 360px) {
  body {
    font-size: var(--fs-7);
    width: 100%;
    box-sizing: border-box;
  }
  .div-logo {
    flex-direction: column;
    align-items: center;
  }

  .logo-left a img {
    width: 150px;
    margin-bottom: 10px;
  }

  .logo-right {
    margin-top: 10px;
    text-align: center;
  }

  .logo-right a {
    margin: 0 5px;
  }

  .logo-right a.text {
    font-size: 14px;
  }

  .logo-right i {
    font-size: 18px;
  }
  a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
    display: none;
  }
  .container-2 {
    width: 120px !important;
  }
  .container-1 {
    width: 110px;
  }
  .title {
    width: 100px;
    margin: 50px 0;
    font-size: 1.5em;
  }
  .label-1 {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }
  .form-control {
    max-width: 150px;
    display: block;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .product-grid {
    grid-template-columns: 1fr;
    gap: 30px;
    width: 70%;
    float: right;
  }
  .filter-section {
    flex-direction: column;
  }

  .filter-category,
  .filter-title-row,
  .filter-keyword {
    width: 300px;
  }
  .filter-keyword p {
    width: 200px;
  }
  .filter-keyword a {
    margin-bottom: 10px;
    display: flex;
    width: 300px;
  }
}
